.project
.git
.settings
node_modules
vendor
.idea
PDF
pre
**.DS_Store
/build
**/target
**/.metadata
**/RemoteSystemsTempFiles
**/.project
**/.settings
backend/App/Config.php
backend/public/.htaccess
frontend/config/sso.js

