.project
.git
.settings
node_modules
vendor
.idea
PDF
pre
**.DS_Store
/build
**/target
**/.metadata
**/RemoteSystemsTempFiles
**/.project
**/.settings
gdm-back/App/Config.php
gdm-back/public/.htaccess
doc/html

